body {
	background-image:url(../imgs/background.jpg);
	background-repeat:no-repeat;
    background-size:100% auto;
}
h1,h3{
    text-align: center;
	color: #FFF;
}
div {
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin: auto; border: 3px solid #FFF;padding:40px; background-color:#F60;border-radius: 1em; opacity:0.8;filter:alpha(opacity=80); font-weight: bold; width: 400px; height: auto;
}

table {
    border-collapse: collapse;
	text-align:center;
}
table, th, td {border:1px solid #000; width:380px;height:40px;}
a:link, a:visited {
    background-color: #090;
    color: white;
    padding: 2px 5px;
	margin:3px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #666;
}